<%-include('header')%>
<h1>Szerkesztés</h1>
<div class="container">
  <!-- Content here -->
  <form method="POST">
    <div class="form-group">
      <label for="nev">Név</label>
      <input type="text" class="form-control" id="nev" name="nev"
             value="<%= (typeof szemely === 'undefined') ? '' : szemely.nev%>">
    </div>
    <div class="form-group">
      <label for="kor">Kor</label>
      <input type="text" class="form-control" id="kor" name="kor"
             value="<%= (typeof szemely === 'undefined') ? '' : szemely.kor%>">
    </div>
    <input type="submit" class="btn btn-primary" value="Mentés"/>
    <a class="btn btn-link" href="/szemely/">Mégsem</a>
  </form>
  </div>

<%-include('footer')-%>