<%-include('header', {pageTitle: 'Kerékpárok'});%>
<h1>Szerkesztés</h1>
<div class="container">
  <!-- Content here -->
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Kerékpár ID</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="32">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Tipus</label>
    <div class="col-sm-10">
      <select class="form-select" aria-label="Default select example">
        <option selected>Egyéb</option>
        <option value="1">MTB</option>
        <option value="2">City</option>
        <option value="3">BMX</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputColor" class="col-sm-2 col-form-label">Szin</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputColor">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Tulajdonos</label>
    <div class="col-sm-10">
      <select class="form-select" aria-label="Default select example">
        <option selected>Válasszon</option>
        <option value="1">Petra</option>
        <option value="2">Nagyi</option>
        <option value="3">Béla</option>
      </select>
    </div>
  </div>
  <div class="col-auto">
    <a href="/" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Mentés</a>
    <a href="/" class="btn btn-secondary " tabindex="-1" role="button" aria-disabled="true">Mégsem</a>
  </div>
</div>
<%-include('footer')-%>